{% extends "layouts/main.html" %}

{% block pageTitle %}
  Before you start - Apply for a postal vote
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Apply for a postal vote",
    serviceUrl: "#"
  }) }}

  {% from "govuk/components/generic-header/macro.njk" import govukGenericHeader %}



  {{ govukPhaseBanner({
  tag: {
    text: "BETA"
  },
  html: 'This is a new service. Your <a class="govuk-link">feedback</a> will help us improve it.'
}) }}
{% endblock %}



{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}


{% block content %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      During this application, we’ll ask you to upload a photo or scan of your handwritten signature
      </h1>

<p>You might find it easier to apply on a phone or tablet with a camera. It may be quicker to upload the photo to your application there.</p>
<p>If you cannot sign your name, you can ask for a signature waiver during your application.</p>
<p>If you cannot take a photo of your signature now, close this application and try again when you can.</p>

       <p class="govuk-body">You'll also need:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the UK address where you are registered to vote</li>
    <li>your National Insurance number or other identity documents, for example a passport</li>
  </ul>


       {{ govukButton({
  text: "Continue",
  attributes: {
    "onclick": "event.preventDefault();"
  }
}) }}

      </form>

    </div>
  </div>

{% endblock %}
