{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block govukFooter %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#",
          text: "Privacy policy"
        },
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
         
        },
        {
         
        }
      ]
    }
  }) }}
{% endblock %}